

<%# <%= link_to "Log Out", destroy_user_session_path, data: { turbo_method: :delete } %>
<%# <%= link_to "Sign_up", new_user_registration_path %>
<div class="listings">
  <h1> Welcome to the BabySitter's Club </h1>
  <h4> The few, the proud, the babysitters </h4>
  <%= form_tag listings_path, method: :get, class: "d-flex" do %>
    <%= text_field_tag :query, params[:query], class: "form-control", placeholder: "Search by name" %>
    <%= submit_tag "Search", class: "btn btn-primary" %>
  <% end %>
  <% @listings.each do |listing| %>
    <div class="listing">
        <div class="listing-header">
          <% listing.photos.each do |photo| %>
            <%= image_tag photo, class: "listing-image" %>
          <% end %>
          <div class="listing-left">
              <h2 class="listing-title"><%= listing.title %></h2>
              <p class="listing-description"><%= listing.description %></p>
              <div class="listing-detail">
                <%= link_to ">> Check the details", listing_path(listing) %>
              </div>
          </div>
          <div class="listing-right">
              <div class="listing-price">
                $ <%= listing.fee %>
              </div>
              <div class="listing-person">Provided by<br />
                <% if listing.user.photo.attached? %>
                  <%= image_tag listing.user.photo, class: "avatar-large" %><br />
                <% else %>
                  <%= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier", class: "avatar-large" %><br />
                <% end %>
                <%= listing.user.full_name %>
              </div>
          </div>
        </div>
    </div>
  <% end %>
</div>
