<h1> Welcome to the BabySitter's Club </h1>
<h4> The few, the proud, the babysitters </h4>

<%# <%= link_to "Log Out", destroy_user_session_path, data: { turbo_method: :delete } %>
<%# <%= link_to "Sign_up", new_user_registration_path %>
<div class="container">
  <% @listings.each do |listing| %>
    <div class="card-listings">
      <% listing.photos.each do |photo| %>
        <%= image_tag photo %>
      <% end %>
      <div class="card-listings-info">
        <h2><%= listing.title %></h2>
        <p><%= listing.description %></p>
        <p>Provided by: <%= User.find_by_id(listing.user_id).first_name %> <%= User.find_by_id(listing.user_id).last_name %></p>
        <div class="card-listings-detail">
          <%= link_to ">> Check the details", listing_path(listing) %>
        </div>
      </div>
      <div class="card-listings-price">
        $ <%= listing.fee %>
      </div>
    </div>
  <% end %>
</div>
