<h1> Welcome to the BabySitter's Club </h1>
<h4> The few, the proud, the babysitters </h4>

<%# <%= link_to "Log Out", destroy_user_session_path, data: { turbo_method: :delete } %>
<%# <%= link_to "Sign_up", new_user_registration_path %>

<% @listings.each do |listing| %>
  <%= listing.title %>
  <%= listing.description %>
  <%= listing.fee %>
  <%= listing.user_id %>
  <%= link_to "Check the detail", listing_path(listing) %>
<% end %>
