<h1>This is a New Listing</h1>

<%= simple_form_for @listing, html: { multipart: true } do |f| %>
  <%= f.input :title %>
  <%= f.input :description %>
  <%= f.input :location,
        input_html: {data: {address_autocomplete_target: "location"}, class: "d-none"},
        wrapper_html: {data: {controller: "address-autocomplete", address_autocomplete_api_key_value: ENV["MAPBOX_API_KEY"]}}
  %>
  <%= f.input :fee %>
    <%= f.simple_fields_for :availabilities do |availability_fields| %>
    <%= availability_fields.input :start_time, as: :datetime, label: "Availability Start Time" %>
    <%= availability_fields.input :end_time, as: :datetime, label: "Availability End Time" %>
  <% end %>
  <%= f.input :photos, as: :file, input_html: { multiple: true } %>
  <%= f.submit %>
<% end %>


<%# <%= f.input :address, input_html: {data: {"..."}, class: "d-none"} %>
