<%= link_to "Back to Listings", root_path %>
<h1><%= @listing.title%></h1>
<div class="d-flex">
  <div>
    <%= @listing.description%>
    <%= @listing.fee%>
  </div>
  <div class="card"><% @listing.photos.each do |photo| %>
        <%= image_tag photo %></div>
  <% end %>
</div>


<%= simple_form_for [@listing, @booking] do |f| %>
  <%= f.input :start_at %>
  <%= f.input :end_at %>
  <%= f.input :notes %>
  <%= f.submit %>
<% end %>

<% @bookings.each do |booking|%>
<%= booking.id %>
<% end %>
