<%= link_to "Back to Listings", root_path %>
<div class="flex-container">
  <div id="booking-details">
    <% @listing.photos.each do |photo| %>
      <%= image_tag photo %>
    <% end %>
    <h1><%= @listing.title%></h1>
    <h5> <%= @listing.description%> </h5>
    <p> <%= @listing.fee %> ¥ per hour </p>
  </div>

  <div id="booking-form">
    <%= simple_form_for [@listing, @booking] do |f| %>
      <%= f.input :start_at %>
      <%= f.input :end_at %>
      <%= f.input :notes %>
      <%= f.submit %>
    <% end %>
  </div>
  <div>
    <% @bookings.each do |booking|%>
    <%= booking.id %>
    <% end %>
  </div>
</div>
