<div class="container d-flex flex-wrap justify-content-center">

  <div class="listing-card-container flex-grow-1 mr-3">
    <div class="listing-card" id="listing-details">
      <% @listing.photos.each do |photo| %>
        <%= image_tag photo %>
      <% end %>
      <div class="text-center m-3">
        <h1><%= @listing.title %></h1>
        <h5><%= @listing.description %></h5>
        <h2 class="card-trip-pricing"><%= "$#{@listing.fee} per hour" %></h2>
        <% if @listing.availabilities.any? %>
          <h3>--------------</h3>
          <h3>Availability</h3>
          <p>From: <%= @listing.availabilities.first.start_time.strftime("%B %d, %Y %H:%M") %></p>
          <p>To: <%= @listing.availabilities.first.end_time.strftime("%B %d, %Y %H:%M") %></p>
        <% else %>
          <p>Not Currently Available</p>
        <% end %>
        <div>
          <% if @listing.user.qualification.present? %>
            <i class="fa-regular fa-star"></i><i class="fa-regular fa-star"></i><i class="fa-regular fa-star"></i>
            <h3>Certifications</h3>
            <p><%= @listing.user.qualification %></p>
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <% if current_user && @listing.user_id == current_user.id %>
    <div class="upcoming-bookings-container flex-grow-1 ml-3">
      <h2>Upcoming Bookings</h2>
      <ul class="d-flex flex-wrap">
        <% @listing.bookings.each do |booking| %>
          <li class="card m-2">
            <p>Starts on: <%= booking.start_at.strftime("%B %d, %Y %H:%M") %>
            <br />Ends on: <%= booking.end_at.strftime("%B %d, %Y %H:%M") %></p>
            <%= link_to booking_path(booking) do %>
              <i class="fa-solid fa-calendar-check fa-2x" style="color:grey"></i>
            <% end %>
            <%= render partial: "bookings/status", locals: {booking: booking} %>
          </li>
        <% end %>
      </ul>
    </div>
  <% else %>
    <div class="container listing-bordered-container d-flex justify-content-center align-items-center flex-grow-1 ml-3">
      <div id="listing-form" class="mt-2">
        <%= simple_form_for [@listing, @booking] do |f| %>
          <% if @booking.errors.any? %>
            <div id="error_explanation">
              <h2>Please Check the Following Error:</h2>
              <ul>
                <% @booking.errors.full_messages.each do |msg| %>
                  <%= msg %>
                <% end %>
              </ul>
            </div>
          <% end %>
          <%= f.input :start_at, html5: true, minute_step: 15 %>
          <%= f.input :end_at, html5: true, minute_step: 15 %>
          <%= f.input :notes %>
          <div class="text-center">
            <%= f.submit class: "btn btn-primary mb-3" %>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
</div>

  <div class="d-flex justify-content-center align-items-center m-3">
    <%= link_to "Back to Listings", root_path, class: 'btn btn-outline-secondary mb-3' %>
  </div>

<div class="reviews-container">
  <h1>Reviews</h1>
  <% @listing.reviews.each do |review| %>
  <div class="review">
    <h2 class="review-user"><%= review.user.first_name %></h2>
    <p class="review-comment"><%= review.comment %></p>
  </div>
  <% end %>
</div>


<%# <div> %>
<%# @listing.bookings.each do |booking|%>
<%#= booking.id %>
<%# end %>
<%# </div> %>

<% if false %>
  <%= render "map" %>
<% end %>
