<% if bookings.any? %>
  <% bookings.each do |booking| %>
    <%= link_to booking_path(booking) do %>
      <li class="card">
        <h4><%= Listing.find_by_id(booking.listing_id).title %></h4>
        <p>Starts on: <%= booking.start_at %></p>
        <p>Ends on: <%= booking.end_at %></p>
        <%= render partial: "status", locals: {booking: booking} %>
      </li>
    <% end %>
  <% end %>
<% end %>
