<h1>Your Bookings</h1>
<ul>
  <% if @bookings.empty? %>
    <p>You've made no bookings :(</p>
  <% else %>
    <div data-controller="bookings">
      <div class="bookings-filters">
        <%= link_to "All Bookings", bookings_path, class: "btn btn-primary status-btn", data: { action: "click->bookings#toggle", status: "all" } %>
        <%= link_to "Requested Bookings", bookings_path(status: 1), class: "btn pending status-btn", data: { action: "click->bookings#toggle", status: "pending"} %>
        <%= link_to "Confirmed Bookings", bookings_path(status: 2), class: "btn confirmed status-btn", data: { action: "click->bookings#toggle", status: "confirmed"} %>
        <%= link_to "Declined Bookings", bookings_path(status: 3), class: "btn declined status-btn", data: { action: "click->bookings#toggle", status: "declined"} %>
        <%= link_to "Completed Bookings", bookings_path(status: 4), class: "btn completed status-btn", data: { action: "click->bookings#toggle", status: "completed"} %>
      </div>
      <div data-bookings-target="all" >
        <%= render partial: "list", locals: {bookings: @bookings} %>
      </div>
      <div data-bookings-target="pending" class="d-none">
        <%= render partial: "list", locals: {bookings: @bookings.select { |booking| booking.status == 1 }} %>
      </div>
      <div data-bookings-target="confirmed" class="d-none">
        <%= render partial: "list", locals: {bookings: @bookings.select { |booking| booking.status == 2 }} %>
      </div>
      <div data-bookings-target="declined" class="d-none">
        <%= render partial: "list", locals: {bookings: @bookings.select { |booking| booking.status == 3 }} %>
      </div>
      <div data-bookings-target="completed" class="d-none">
        <%= render partial: "list", locals: {bookings: @bookings.select { |booking| booking.status == 4 }} %>
      </div>
    </div>
  <% end %>
</ul>
<%# A list to display booking made on current user's listings %>
<h1> Bookings with you </h1>
<ul>
  <% @bookings.each do | booking | %>
    <% if booking.listing.user_id == current_user.id %>
      <%= link_to booking_path(booking) do  %>
        <li class="card">
          <h4> <%= Listing.find_by_id(booking.listing_id).title %> </h4>
          <p> Starts on: <%= booking.start_at %> </p>
          <p> Ends on: <%= booking.end_at %> </p>
          <%= render partial: "status", locals: {booking: booking} %>
        </li>
      <% end %>
    <% end %>
  <% end %>  
</ul>
