<div class="container">
  <h1><i class="fa-solid fa-book-open" style="color: #3F5B5C;"></i></h1>
  <div class="booking-details">
    <div class="booking-container">
      <h2> From <%= @booking.start_at.strftime("%B %d, %I:%M %p") %></h2>
      <h2> to <%= @booking.end_at.strftime("%B %d, %I:%M %p") %> </h2>
      <h2> Total fee: $<%= @booking.fee %> </h2>
      <div class="booking-notes"><p style="text-decoration: underline;">Notes</p><%= @booking.notes %></div>
      <%= render partial: "status", locals: {booking: @booking} %>
      <% if @booking.listing.user_id == current_user.id %>
        <div class="status-button-container">
          <% if @booking.status == 1 %>
            <%= button_to "Confirm", @booking, method: :patch, params: { booking: { status: 2 } }, class: "btn btn-confirmed status-btn" %>
            <%= button_to "Decline", @booking, method: :patch, params: { booking: { status: 3 } }, class: "btn btn-declined status-btn", data: { turbo_confirm: "Are you sure?" } %>
          <% elsif @booking.status == 2 && @booking.end_at > Time.zone.now %>
            <%= button_to "Cancel", @booking, method: :patch, params: { booking: {status: 3} }, class: "btn btn-declined status-btn", data: { turbo_confirm: "Are you sure?" } %>
          <% elsif @booking.status == 2 && @booking.end_at < Time.zone.now %>
            <%= button_to "Complete", @booking, method: :patch, params: { booking: {status: 4} }, class: "btn btn-completed status-btn" %>
          <% elsif @booking.status == 4 %>
            <div data-controller="toggler">
              <button data-action="click->toggler#fire" data-toggler-target="button" class="btn btn-completed status-btn"> Add a report? </button>
              <div data-toggler-target="comments" class="d-none">
                <%= simple_form_for @booking, html: { multipart: true } do |f| %>
                  <%= f.input :comment %>
                  <%= f.submit "Submit report", class: "btn status-btn" %>
                <% end %>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  <div class="booking-card-container">
    <div class="booking-card">
      <% if @booking.listing.photos.attached? %>
        <%= image_tag(@booking.listing.photos.first) %>
        <% else %>
        <%= image_tag "https://res.cloudinary.com/dpz6vgbvz/image/upload/w_1000,ar_1:1,c_fill,g_auto,e_art:hokusai/v1721316236/xinxrzko9jfiawmqwyki.jpg" %>
      <% end %>
      <div class="booking-card-infos">
        <div>
          <h2><%= @booking.listing.title %></h2>
          <p><%= @booking.listing.description %></p>
        </div>
        <h2 class="booking-card-pricing"><%= "$#{@booking.listing.fee}" %></h2>
        <% if current_user.photo.attached? %>
          <%= cl_image_tag current_user.photo.key, class: "booking-card-user avatar-bordered" %>
        <% end %>
      </div>
    </div>
  </div>
  </div>
</div>

  <div class="d-flex justify-content-center align-items-center">
    <%= link_to 'Add Review', new_listing_booking_review_path(@listing, @booking), class: 'btn btn-outline-secondary m-3' %>
    <%= link_to 'See all bookings', bookings_path, class: 'btn btn-outline-secondary' %>
    <%= link_to 'Home', root_path, class: 'btn btn-outline-secondary ms-3' %>
  </div>
</div>
